#bg{
  background-size: 1800px 900px;
  background-repeat: no-repeat;
  background-position: top;
  background-attachment: fixed;
}

/* css style for footer */

.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}
