{% extends 'base.html' %}
{% load static %}

{% block content %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.4/css/bootstrap.min.css" integrity="sha512-FOS5ANNUsuvefA5Fm6hZBLsxqfF105LIysEgV8VNz29jZLVYIhI+MOLKPBmMXgkHhARFHf5pE7KbXOLE6TXW0A==" crossorigin="anonymous" referrerpolicy="no-referrer" />


<div class= "container contact-form mb-2">
  <h1>About us</h1>
  <hr>
  <div class= "row"></div>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae, ducimus. Ducimus ipsa, quia amet suscipit eveniet saepe illum earum placeat delectus! Dicta ex officiis, nam ut nobis perspiciatis distinctio aut impedit voluptatem ipsam esse, ad quaerat quis fugiat. 
  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe iste nulla fugit cupiditate. Nemo culpa itaque quas unde deleniti delectus nobis repellat mollitia? Aliquid facere ullam sapiente provident nobis architecto.
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum aliquid, tenetur repudiandae sapiente ab delectus molestiae a sunt quibusdam officiis aperiam accusantium perspiciatis nam rem pariatur eveniet dicta optio harum mollitia est, nemo numquam error enim! Quia quis quae fuga, vitae praesentium minus officia? Blanditiis, error alias, beatae rem reprehenderit dolorem ratione vitae dignissimos similique porro eum non laudantium inventore voluptatum, minima explicabo magnam soluta enim facilis at! Optio illum excepturi dolore. Velit amet laborum tenetur assumenda, tempora voluptatum nobis accusantium reprehenderit atque quaerat adipisci fuga iste voluptates, accusamus nam? Rem, asperiores vel. Beatae laborum, quasi optio autem quo ullam.
</div>

{% endblock %}
