{% extends 'base.html' %}
{% load static %}

{% block content %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.4/css/bootstrap.min.css" 
      integrity="sha512-FOS5ANNUsuvefA5Fm6hZBLsxqfF105LIysEgV8VNz29jZLVYIhI+MOLKPBmMXgkHhARFHf5pE7KbXOLE6TXW0A==" 
      crossorigin="anonymous" referrerpolicy="no-referrer" />

<div class="card mt-2 mb-3" style="text-align: left-center">
  <div class="card-body">
    <h2 class="card-title">About us</h2>
    <p class="card-text"> We are discovering the Developers World and working hard to give to you the most secure and sofisticate trends to improve this application to you, for you with you .....</p> 
    <p>Dream Catcher was created by three Software Developers Students, to allow people to connect deeper with yourself, interact with others with the same interests, and much more.</p>

    <p>Thank you for choose our application as your dreamer keeper we are looking forward to provide the most secure , social and fun application to you!</p>

    <p>Dream Cather is an application where you journal your dreams to keep track and socialize with others around the globe about each other's dreams, while maintaining user privacy</p>

    <p><class="card-text">Very secure and streamline the data access, restrict the user's access and maximize the security of the company and client's data.</p>
    <hr>
    <div class="textabout" style="text-align: left-center">
      <p>"A customer is the most important visitor on our premises, he is not dependent on us.
        <p>We are dependent on him.He is not an interruption in our work.</p>
        <p>He is the purpose of it.He is not an outsider in our business.</p>
        <p>He is part of it.We are not doing him a favor by serving him.</p>
        <p>He is doing us a favor by giving us an opportunity to do so.”</p>
        <p>– Mahatma Gandhi"</p>
        <h4>Enjoy your time with us and keep dreaming!</h4>  
    </div>
   

    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
  </div>
</div>

{% endblock %}
