{% extends 'base.html' %}

{% block content %}

  {% if user.is_authenticated %}
  <div class="container">
    <div class="row mt-5" style="padding-top: 100px;">
      <h2 class="text-center display-2 mt-4" 
          style="color: white; background-color: transparent;">Your Comment</h2>
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6 my-5 alert alert-secondary" role="alert">
          <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Submit" class="bg-primary text-white stretched-link">
          </form>
        </div>
      </div>
    </div>
  </div>
  {% else %}
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-10 text-center">
      <h4>Forgot to Log In?</h4>
      <br>
      <h3>Or you can Sign Up to create your own account.</h3>
    </div>
    <div class="col-md-4"></div>
  </div>
  {% endif %}

{% endblock %}
