{% extends 'base.html' %}

{% block content %}
{% if user.is_authenticated %}
<section class="py-5">
<div class="container">
  <div class="bg-secondary pl-5 py-5">
    <h1 class="text-center mt-2">New journal entry..</h1>
    <div class="row pl-5">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p}}
            <button class='mx-5 mt-3 btn btn-md btn-fill btn-primary'
                    type="submit" value="Submit">
                <h4 class="text-center">Submit</h4>
            </button>
        </form>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
</div>
</section>
{% else %}
<h2>You must be logged in to create a post</h2>
{% endif %}
{% endblock %}
