{% extends 'base.html' %}

{% block content %}

<div class="container">
  <div class="row">
    <h1 style="color:white" class="display-3">Dreams...</h1>
     <div class="col-md-8 mt-3 left">
     {% for post in journalpost_list %}
      <div class="card mb-4">
        <div class="card-body" style= "background-image:linear-gradient(to bottom right,white,{{post.colors_seen}},black); opacity:0.5; border-radius: 20px;">
            <h2 class="card-title">{{ post.title }}</h2>
            <a style= "color:gray; font-weight:bold; text-decoration:none" href="{% url 'user_detail' post.username_id %}">
            {{ post.username }}</a> | {{ post.created_at}}
            <p class="card-text">{{post.content|slice:":500" }}</p>
            <a href="{% url 'post_detail' post.id %}">{{ post.comments.count }} comments</a>
        </div>
       </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
