{% extends 'base.html' %}
{% load static %}
{% block content %}

{% if user.is_authenticated %}
<div class="container">
  <div class="row by-5">
    <div class="input-group my-3">
      <input type="text" class="form-control " onfocusin="create_post()" 
            placeholder="Create new post..." aria-label="create post input" 
            aria-describedby="create post input">
    </div>
    {% for post in journalpost_list %}
      <div class="card mb-4" style="background-image:linear-gradient(to bottom right,{{post.colors_seen}},{{post.colors_seen}}); color:white">
        <div class="card-body" style=" background-color: #212529; border-radius: 0px; margin-bottom:13px; margin-top:13px">
          <a style= "color:white; font-weight:bold; text-decoration:none" href="{% url 'user_detail' post.username_id %}">
          {{ post.username }}</a> | {{ post.created_at}}
            <h2 class="card-title">{{ post.title }}</h2>
            <span>{{ post.category}}   {{ post.type}}</span>
            <p class="card-text">{{post.content|slice:":500" }}</p>
            <div class="d-flex flex-row"> 
              <a style="color:grey" href="{% url 'post_detail' post.id %}">{{ post.comments.count }} comments</a>
              <form method="POST" action="{% url 'like' post.id %}">
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ request.path }}">
                <button style="background-color: transparent; border: none; box-shadow: none;" type="submit">
                  <div class="ml-5">
                    <i class="far fa-thumbs-up"><span>{{ post.likes.all.count }}</span></i>
                  </div>
                </button>
              </form>
              <form method="POST" action="{% url 'dislike' post.id %}">
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ request.path }}">
                <button style="background-color: transparent; border: none; box-shadow: none;" type="submit">
                  <div class="ml-5">
                    <i class="far fa-thumbs-down"><span>{{ post.dislikes.all.count }}</span></i>
                  </div>
                </button>
              </form>
            </div>
          </div>
      </div>
      {% endfor %}
  </div>
</div>
{% else %}
<div class="container">
      <div class="row">
                {% for post in journalpost_list %}
                <div class="card mb-4" style="background-image:linear-gradient(to bottom right,{{post.colors_seen}},{{post.colors_seen}}); color:white">
                    <div class="card-body" style=" background-color: #212529; border-radius: 0px; margin-bottom:13px; margin-top:13px">
                      <a style= "color:white; font-weight:bold; text-decoration:none" href="{% url 'user_detail' post.username_id %}">
                      {{ post.username }}</a> | {{ post.created_at}}
                        <h2 class="card-title">{{ post.title }}</h2>
                        <span>{{ post.category}}   {{ post.type}}</span>
                        <p class="card-text">{{post.content|slice:":500" }}</p>
                        <a style="color:grey" href="{% url 'post_detail' post.id %}">{{ post.comments.count }} comments</a>
                    </div>
                </div>
                {% endfor %}
            </div>
      </div>
{% endif %}
{% endblock %}
