{% extends 'base.html' %}
{% load static %}
{% block content %}

{% if user.is_authenticated %}
<div class="container">
  <div class="row">
    <div class="input-group mb-3">
      <input type="text" class="form-control " onfocusin="create_post()" placeholder="Create new post..." aria-label="create post input" aria-describedby="create post input">
    </div>
    {% for post in journalpost_list %}
      <div class="card mb-4" style="background-image:linear-gradient(to bottom right,white,{{post.colors_seen}},black); color:white">
          <div class="card-body" style=" background-color: #212529; border-radius: 0px; margin-bottom:13px; margin-top:13px">
            <a style= "color:white; font-weight:bold; text-decoration:none" href="{% url 'user_detail' post.username_id %}">
            {{ post.username }}</a> | {{ post.created_at}}
              <h2 class="card-title">{{ post.title }}</h2>
              <span>{{ post.category}}   {{ post.type}}</span>
              <p class="card-text">{{post.content|slice:":500" }}</p>
              <a style="color:grey" href="{% url 'post_detail' post.id %}">{{ post.comments.count }} comments<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat" viewBox="0 0 16 16">
          </div>
      </div>
      {% endfor %}
  </div>
</div>
{% else %}
<div class="container">
      <div class="row">
                {% for post in journalpost_list %}
                <div class="card mb-4" style="background-image:linear-gradient(to bottom right,white,{{post.colors_seen}},black); color:white">
                    <div class="card-body" style=" background-color: #212529; border-radius: 0px; margin-bottom:13px; margin-top:13px">
                      <a style= "color:white; font-weight:bold; text-decoration:none" href="{% url 'user_detail' post.username_id %}">
                      {{ post.username }}</a> | {{ post.created_at}}
                        <h2 class="card-title">{{ post.title }}</h2>
                        <span>{{ post.category}}   {{ post.type}}</span>
                        <p class="card-text">{{post.content|slice:":500" }}</p>
                        <a style="color:grey" href="{% url 'post_detail' post.id %}">{{ post.comments.count }} comments<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat" viewBox="0 0 16 16">
                    </div>
                </div>
                {% endfor %}
            </div>
      </div>
{% endif %}
{% endblock %}
