{% extends 'base.html' %}

{% block content %}

<div class="container">
  <div class="row">
    <h1 style="color:white" class="display-3">Nightmares...</h1>
     <div class="col-md-8 mt-3 left">
     {% for post in journalpost_list %}
     <div class="card mb-4" style="background-image:linear-gradient(to bottom right,{{post.colors_seen}},{{post.colors_seen}}); color:white">
         <div class="card-body" style=" background-color: #212529; border-radius: 0px; margin-bottom:13px; margin-top:13px">
           <a style= "color:white; font-weight:bold; text-decoration:none" href="{% url 'user_detail' post.username_id %}">
           {{ post.username }}</a> | {{ post.created_at}}
             <h2 class="card-title">{{ post.title }}</h2>
             <span>{{ post.category}}   {{ post.type}}</span>
             <p class="card-text">{{post.content|slice:":500" }}</p>
             <a style="color:grey" href="{% url 'post_detail' post.id %}">{{ post.comments.count }} comments</a>
         </div>
     </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
