{% extends 'base.html' %}


{% block content %}

<!-- <div class="textabout" style="text-align: left-center">
    <p>"A customer is the most important visitor on our premises, he is not dependent on us.
      <p>We are dependent on him.He is not an interruption in our work.</p>
      <p>He is the purpose of it.He is not an outsider in our business.</p>
      <p>He is part of it.We are not doing him a favor by serving him.</p>
      <p>He is doing us a favor by giving us an opportunity to do so.”</p>
      <p>– Mahatma Gandhi"</p>
      <h4>Enjoy your time with us and keep dreaming!</h4>  
  </div> -->

{% endblock content %}