{% extends "base.html" %}
{% block content %}
<div>
  <h3>{{profile.username|capfirst}}</h3>
  <h3>{{profile.email|capfirst}}</h3>
  <div class="col-md-8 mt-3 left">
    {% for post in posts %}
      {% if post.username_id == me.id %}
        <div class="card mb-4">
            <div class="card-body" style= "background-image:linear-gradient(to bottom right,white,{{post.colors_seen}},black); opacity:0.5; border-radius: 20px;">
                <h2 class="card-title">{{ post.title }}</h2>
                <a style= "color:gray; font-weight:bold; text-decoration:none" href="{% url 'user_detail' post.username_id %}">
                {{ post.username }}</a> | {{ post.created_at}}
                <p class="card-text">{{post.content|slice:":500" }}</p>
                <a href="{% url 'post_detail' post.id %}">{{ post.comments.count }} comments</a>
            </div>
        </div>
      {% elif post.privacy == 0 %}
          <div class="card mb-4">
              <div class="card-body" style= "background-image:linear-gradient(to bottom right,white,{{post.colors_seen}},black); opacity:0.5; border-radius: 20px;">
                  <h2 class="card-title">{{ post.title }}</h2>
                  <a style= "color:gray; font-weight:bold; text-decoration:none" href="{% url 'user_detail' post.username_id %}">
                  {{ post.username }}</a> | {{ post.created_at}}
                  <p class="card-text">{{post.content|slice:":500" }}</p>
                  <a href="{% url 'post_detail' post.id %}">{{ post.comments.count }} comments</a>
              </div>
          </div>
      {% endif %}
    {% endfor %}
  </div>



</div>
{% endblock %}
