{% extends "base.html" %}

{% block content %}
<div class="container">
  <h1 class="text-center mt-4">Login</h1>
  <div class="row"> 
    <div class="col-md-2"></div>
    <div class="col-md-8 my-5 alert alert-secondary" role="alert">
      <form method="POST">
        {% csrf_token %}
          <table>
            <tr>
              <td>{{ form.username.label_tag }}</td>
              <td>{{ form.username }}</td>
            </tr>
            <br>
            <tr>
              <td>{{ form.password.label_tag }}</td>
              <td>{{ form.password }}</td>
            </tr>
          </table>
          <div class="mt-3 text-center">
            <button class="mx-5 ms-2 btn btn-sm btn-fill btn-secondary"
                    type="submit" value="Login"><h5>Log In</h5>
            </button>
            <div class="ms-2">
              <a class="nav-link" 
                href="{% url 'password_reset' %}">Forgot Password?
              </a>
            </div>
          </div>
      </form>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>
{% endblock %}
