{% extends 'base.html' %}


{% block content %}
        <div class= "container contact-form">
            <!-- <h1>About us</h1>
            <hr>
            <div class= "row"></div>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae, ducimus. Ducimus ipsa, quia amet suscipit eveniet saepe illum earum placeat delectus! Dicta ex officiis, nam ut nobis perspiciatis distinctio aut impedit voluptatem ipsam esse, ad quaerat quis fugiat. 
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe iste nulla fugit cupiditate. Nemo culpa itaque quas unde deleniti delectus nobis repellat mollitia? Aliquid facere ullam sapiente provident nobis architecto.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum aliquid, tenetur repudiandae sapiente ab delectus molestiae a sunt quibusdam officiis aperiam accusantium perspiciatis nam rem pariatur eveniet dicta optio harum mollitia est, nemo numquam error enim! Quia quis quae fuga, vitae praesentium minus officia? Blanditiis, error alias, beatae rem reprehenderit dolorem ratione vitae dignissimos similique porro eum non laudantium inventore voluptatum, minima explicabo magnam soluta enim facilis at! Optio illum excepturi dolore. Velit amet laborum tenetur assumenda, tempora voluptatum nobis accusantium reprehenderit atque quaerat adipisci fuga iste voluptates, accusamus nam? Rem, asperiores vel. Beatae laborum, quasi optio autem quo ullam.
            <hr> -->
          
              <div class= "col-md-6">
                <p>If you have any queries or wish to contact our team, send us a message and we will be touch bla bla </p>
                <address>Auckland, Christchurch and Wellington NZ </address>
                <p>Email: - test@email.com</p>
                <p>Phone:- 34878798</p>
              </div>   
            <form method="POST" class="mb-lg-5">

                <!-- Very Important csrf Token -->
                {% csrf_token %}
                <div class= "form-group">
                    <label>Name</label>
                    <input type="text" class="form-control">
                </div>

                <div class= "form-group">
                    <label>Message</label>
                    <textarea class="form-control" rows="7"></textarea>
                </div>
                
                <div class = "form-group" style="color: black;">
                    <p>
                        <h3 style="color: #fff;">{{ form.as_p }}</h3>
                    </p>
                    <br>
                    <input type="submit" name="Contact" class = 'btn btn-primary btn-lg'>
                </div>
            </form>
        </div>
{% endblock content %}

