#bg{
  background-size: 1800px 900px;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

/* css style for footer */
.container {
  width: auto;
  max-width: 1000px;
  padding: 0 15px;
  background-color: rgba(26, 27, 16, 0) !important;
}
 body {
   background-color: rgb(86, 184, 154);
 }

.title-text{
  color: white;
}
