#bg{
  background-size: 1800px 900px;
  background-repeat: no-repeat;
  background-position: top;
  background-attachment: fixed;
}

/* css style for footer */
.container {
  width: auto;
  max-width: 1000px;
  padding: 0 15px;
  background-color: black !important;
}
 body {
   background-color: black;
 }

.title-text{
  color: white;
}

.card-body{
  background-color:white; border-radius: 20px;
}
